SMC.json
{
  "name": "SMC",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8bba2d2d-747a-4cd1-8ef3-42a07bebb488",
              "leftValue": "={{ $json['Attendance Score'] }}",
              "rightValue": 65,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "514610cd-e8d5-488e-b049-4fcfd81b9afd",
              "leftValue": "={{ $json['Examination Score'] }}",
              "rightValue": 70,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -432,
        32
      ],
      "id": "3e64f86d-ddfd-41d9-87ce-24defb727b8e",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        16,
        -64
      ],
      "id": "5c8cd1f2-f781-4dde-a2b1-c253869e1697",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1q6kd7x7Ej4gS1hIvcK8k_q_gpofC5eve2RAf_yegIT8",
          "mode": "list",
          "cachedResultName": "SMC",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1q6kd7x7Ej4gS1hIvcK8k_q_gpofC5eve2RAf_yegIT8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1657686669,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1q6kd7x7Ej4gS1hIvcK8k_q_gpofC5eve2RAf_yegIT8/edit#gid=1657686669"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "Timestamp"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Attendance Score",
              "displayName": "Attendance Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Examination Score",
              "displayName": "Examination Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -208,
        -64
      ],
      "id": "a021e42a-1414-4bf1-bbaf-c01c499dc2c0",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mLxnQxdCF5VxSBoO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"Email\"] }}",
        "subject": "Student performance ",
        "message": "=<!DOCTYPE html>\n<html>\n  <body style=\"font-family: Arial, sans-serif; background-color: #f5f7fa; padding: 20px;\">\n    <div style=\"max-width: 600px; margin: auto; background: white; padding: 30px; border-radius: 8px; box-shadow: 0 2px 5px rgba(0,0,0,0.1);\">\n      <h2 style=\"text-align: center; color: #4CAF50;\">📊 Student Performance Report</h2>\n\n      <p>Dear <strong>{{ $json[\"Name\"] }}</strong>,</p>\n\n      <p>Here is your performance summary for this term:</p>\n\n      <table style=\"width: 100%; border-collapse: collapse; margin-top: 20px;\">\n        <thead>\n          <tr style=\"background-color: #4CAF50; color: white;\">\n            <th style=\"padding: 10px; text-align: left; border: 1px solid #ddd;\">Metric</th>\n            <th style=\"padding: 10px; text-align: left; border: 1px solid #ddd;\">Score</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td style=\"padding: 10px; border: 1px solid #ddd;\">Attendance</td>\n            <td style=\"padding: 10px; border: 1px solid #ddd;\">{{ $json[\"Attendance Score\"] }}</td>\n          </tr>\n          <tr>\n            <td style=\"padding: 10px; border: 1px solid #ddd;\">Assignment</td>\n            <td style=\"padding: 10px; border: 1px solid #ddd;\">{{ $json[\"Examination Score\"] }}</td>\n          </tr>\n        </tbody>\n      </table>\n\n      <p style=\"margin-top: 20px;\">\n        We’re proud of your progress! Keep up the good work and continue striving for excellence.\n      </p>\n\n      <p>Best regards,<br><strong>Your Teacher</strong></p>\n    </div>\n  </body>\n</html>\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        240,
        -64
      ],
      "id": "4e6d4f01-1b4f-4acd-b945-8c6419ba40d0",
      "name": "Send a message",
      "webhookId": "760c777f-dbc8-4d68-810d-4fa3ab855676",
      "credentials": {
        "gmailOAuth2": {
          "id": "WIgvwftfUb6mis2j",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        16,
        128
      ],
      "id": "ccfe0934-ef6a-4c2e-bed5-314f9e95a942",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1q6kd7x7Ej4gS1hIvcK8k_q_gpofC5eve2RAf_yegIT8",
          "mode": "list",
          "cachedResultName": "SMC",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1q6kd7x7Ej4gS1hIvcK8k_q_gpofC5eve2RAf_yegIT8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1657686669,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1q6kd7x7Ej4gS1hIvcK8k_q_gpofC5eve2RAf_yegIT8/edit#gid=1657686669"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "Timestamp"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Attendance Score",
              "displayName": "Attendance Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Examination Score",
              "displayName": "Examination Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -208,
        128
      ],
      "id": "7fde54fa-277e-4507-b4bf-9e7be4225213",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mLxnQxdCF5VxSBoO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Student performance ",
        "message": "=<!DOCTYPE html>\n<html>\n  <body style=\"font-family: Arial, sans-serif; background-color: #fff3f3; padding: 20px;\">\n    <div style=\"max-width: 600px; margin: auto; background: #ffffff; padding: 30px; border-radius: 8px; border: 1px solid #e57373;\">\n      <h2 style=\"text-align: center; color: #e53935;\">⚠️ Performance Alert</h2>\n\n      <p>Dear <strong>{{ $json[\"Name\"] }}</strong>,</p>\n\n      <p>We have reviewed your recent performance and would like to bring it to your attention.</p>\n\n      <table style=\"width: 100%; border-collapse: collapse; margin-top: 20px;\">\n        <thead>\n          <tr style=\"background-color: #ef9a9a; color: white;\">\n            <th style=\"padding: 10px; text-align: left; border: 1px solid #ddd;\">Metric</th>\n            <th style=\"padding: 10px; text-align: left; border: 1px solid #ddd;\">Score</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td style=\"padding: 10px; border: 1px solid #ddd;\">Attendance</td>\n            <td style=\"padding: 10px; border: 1px solid #ddd;\">{{ $json[\"Attendance Score\"] }}</td>\n          </tr>\n          <tr>\n            <td style=\"padding: 10px; border: 1px solid #ddd;\">Assignment</td>\n            <td style=\"padding: 10px; border: 1px solid #ddd;\">{{ $json[\"Examination Score\"] }}</td>\n          </tr>\n        </tbody>\n      </table>\n\n      <p style=\"margin-top: 20px;\">\n        We believe you can do much better. Please meet with your subject teacher to discuss ways to improve.\n      </p>\n\n      <p>\n        If you're facing challenges, feel free to reach out. We’re here to support you.\n      </p>\n\n      <p>Sincerely,<br><strong>Your Teacher</strong></p>\n    </div>\n  </body>\n</html>\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        240,
        128
      ],
      "id": "bbd045c0-a5de-40f2-aee8-05a1c80ec549",
      "name": "Send a message1",
      "webhookId": "760c777f-dbc8-4d68-810d-4fa3ab855676",
      "credentials": {
        "gmailOAuth2": {
          "id": "WIgvwftfUb6mis2j",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1q6kd7x7Ej4gS1hIvcK8k_q_gpofC5eve2RAf_yegIT8",
          "mode": "list",
          "cachedResultName": "SMC",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1q6kd7x7Ej4gS1hIvcK8k_q_gpofC5eve2RAf_yegIT8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1657686669,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1q6kd7x7Ej4gS1hIvcK8k_q_gpofC5eve2RAf_yegIT8/edit#gid=1657686669"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -656,
        32
      ],
      "id": "4c26ea9b-94e4-4151-8fab-5bf197a4fb85",
      "name": "Fetching the data",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "64P6n7sEgakBAEVG",
          "name": "Google Sheets Trigger account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetching the data": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "593cfc4b-fdca-46a8-8bc4-ed131d0727ff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "656f5d59522211d4f4182cae05d840369b268b4a7b1ca5bc8c94cf7bf56ff232"
  },
  "id": "2zOkY1vv8CayhCmX",
  "tags": []
}